<app-nav-bar-administrador></app-nav-bar-administrador>

<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Gestion de regiones </h1>
</div>

<br><br>

<div class="container">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ingresar nueva ubicacion</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #ubicacionForm = "ngForm" (ngSubmit)="onSubmit(ubicacionForm)">

        <div class="form-group">
          <label>Region</label>
          <input name="region"  #Region="ngModel" [(ngModel)]="ubicacionn.region" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Pais</label>
          <input name="pais"  #Pais="ngModel" [(ngModel)]="ubicacionn.pais" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Continente</label>
          <input name="continente"  #Continente="ngModel" [(ngModel)]="ubicacionn.continente" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>
        
        
        <div class = "form-group">
          <div class = "col-md-4 col-md-offset-3">
            <input class = "btn btn-primary" type = "submit" value = "Agregar" />
          </div>
        </div>
      
          

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Ingresar</button>

  <hr>

  <pre>{{ closeResult }}</pre>

</div>


<div class="container">
  <ng-template #content1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Actualizar ubicacion</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #ubicacionForm = "ngForm" (ngSubmit)="onUpdate(ubicacionForm)">

        <div class="form-group">
          <label>Id Ubicacion</label>
          <input name="idUbicacion"  #IdUbicacion="ngModel" [(ngModel)]="ubicacionU.idUbicacion" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>  

        <div class="form-group">
          <label>Region</label>
          <input name="region"  #Region="ngModel" [(ngModel)]="ubicacionU.region" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Pais</label>
          <input name="pais"  #Pais="ngModel" [(ngModel)]="ubicacionU.pais" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Continente</label>
          <input name="continente"  #Continente="ngModel" [(ngModel)]="ubicacionU.continente" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>
        
        
        <div class = "form-group">
          <div class = "col-md-4 col-md-offset-3">
            <input class = "btn btn-primary" type = "submit" value = "Modificar" />
          </div>
        </div>
      
          

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salir</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content1)">Actualizar</button>

  <hr>

  <pre>{{ closeResult }}</pre>

</div>



<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Id</th>
      <th>Continente</th>
      <th>Pais</th>
      <th>Region</th>
    </tr>


<!-- -->
    <tr *ngFor="let Ubicacion of service.ubicacionList" >
      <td>{{Ubicacion.idUbicacion}}</td>
      <td>{{Ubicacion.region}}</td>
      <td>{{Ubicacion.pais}}</td>
      <td>{{Ubicacion.continente}}</td>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target=" #content let-modal" 
      (click)="selectId(Ubicacion)">Ed</button>
      <td><button type="button" class="btn btn-danger" (click)="onDelete(Ubicacion.idUbicacion)" 
        >X<span class="glyphicon glyphicon-trash" ></span></button></td>

    </tr>
