<app-nav-bar-centro></app-nav-bar-centro>

<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Gestion de Pacientes</h1>
</div>

<br><br>


<div class="container">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ingresar nuevo paciente</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #pacienteForm = "ngForm" (ngSubmit)="onSubmit(pacienteForm)">


        <div class="form-group">
          <label>Id Paciente</label>
          <input name="idPaciente"  #IdPaciente="ngModel" [(ngModel)]="pacientee.idPaciente" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
        </div> 

        <div class="form-group">
          <label>Cedula</label>
          <input name="cedula"  #Cedula="ngModel" [(ngModel)]="pacientee.cedula" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div> 
        
        <div class="form-group">
          <label>Fecha Nacimiento</label>
          <input name="fechaNacimiento"  #FechaNac="ngModel" [(ngModel)]="pacientee.fechaNacimiento" [ngModelOptions]="{standalone: true}" type= "date" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Nombre</label>
          <input name="nombre"  #Nombre="ngModel" [(ngModel)]="pacientee.nombre" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Primer Apellido</label>
          <input name="primerApellido"  #PrimerApellido="ngModel" [(ngModel)]="pacientee.primerApellido" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Segundo Apellido</label>
          <input name="segundoApellido"  #SegundoApellido="ngModel" [(ngModel)]="pacientee.segundoApellido" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Nacionalidad</label>
          <input name="nacionalidad"  #Nacionalidad="ngModel" [(ngModel)]="pacientee.nacionalidad" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Region</label>
          <input name="region"  #Region="ngModel" [(ngModel)]="pacientee.region" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Medicamento</label>
          <input name="medicamento"  #Medicamento="ngModel" [(ngModel)]="pacientee.medicacion" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Patologia</label>
          <input name="patologias"  #Patologias="ngModel" [(ngModel)]="pacientee.patologia" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label> Estado</label>
          <input name="estado"  #Estado="ngModel" [(ngModel)]="pacientee.estado" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
      </div>

        <div class="form-group">
          <label for="internado"> Internado? </label>
          <select name="internado"  #Internado="ngModel" [(ngModel)]="pacientee.internado" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            <option value="">Seleccionar</option>
              <option value="En transito">true</option>
              <option value="En Aduanas">false</option>
          </select>
        </div>

        <div class="form-group">
          <label for="UCI"> UCI? </label>
          <select name="uci"  #UCI="ngModel" [(ngModel)]="pacientee.uci" [ngModelOptions]="{standalone: true}" type= "text"class="form-control" required>
            <option value="">Seleccionar</option>
              <option value="En transito">true</option>
              <option value="En Aduanas">false</option>
          </select>
        </div>

        <div class="form-group">
          <label>Fecha Ingreso</label>
          <input name="fechaIngreso"  #FechaIngreso="ngModel" [(ngModel)]="pacientee.fechaIngreso" [ngModelOptions]="{standalone: true}" type= "date" class="form-control" required>
        </div>
        
        <div class="form-group">
          <label>Hospital</label>
          <input name="idCentroHospitalario"  #IdCentroHospitalario="ngModel" [(ngModel)]="pacientee.idCentroHospitalario" [ngModelOptions]="{standalone: true}" type= "date" class="form-control" required>
        </div>

        <div class = "form-group">
          <div class = "col-md-4 col-md-offset-3">
            <input class = "btn btn-primary" type = "submit" value = "Agregar" />
          </div>
        </div>
      
          

      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Ingresar</button>

  <hr>

  <pre>{{ closeResult }}</pre>

</div>


<div class="container">
  <ng-template #content1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Actualizar paciente</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #updateForm = "ngForm" (ngSubmit)="onUpdate(updateForm)">


        <div class="form-group">
          <label>Id Paciente</label>
          <input name="idPaciente"  #IdPaciente="ngModel" [(ngModel)]="pacienteU.idPaciente" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
        </div> 

        <div class="form-group">
          <label>Cedula</label>
          <input name="cedula"  #Cedula="ngModel" [(ngModel)]="pacienteU.cedula" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div> 
        
        <div class="form-group">
          <label>Fecha Nacimiento</label>
          <input name="fechaNacimiento"  #FechaNac="ngModel" [(ngModel)]="pacienteU.fechaNacimiento" [ngModelOptions]="{standalone: true}" type= "date" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Nombre</label>
          <input name="nombre"  #Nombre="ngModel" [(ngModel)]="pacienteU.nombre" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Primer Apellido</label>
          <input name="primerApellido"  #PrimerApellido="ngModel" [(ngModel)]="pacienteU.primerApellido" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Segundo Apellido</label>
          <input name="segundoApellido"  #SegundoApellido="ngModel" [(ngModel)]="pacienteU.segundoApellido" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Nacionalidad</label>
          <input name="nacionalidad"  #Nacionalidad="ngModel" [(ngModel)]="pacienteU.nacionalidad" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Region</label>
          <input name="region"  #Region="ngModel" [(ngModel)]="pacienteU.region" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Medicamento</label>
          <input name="medicamento"  #Medicamento="ngModel" [(ngModel)]="pacienteU.medicacion" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Patologia</label>
          <input name="patologias"  #Patologias="ngModel" [(ngModel)]="pacienteU.patologia" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label> Estado</label>
          <input name="estado"  #Estado="ngModel" [(ngModel)]="pacienteU.estado" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
      </div>

        <div class="form-group">
          <label for="internado"> Internado? </label>
          <select name="internado"  #Internado="ngModel" [(ngModel)]="pacienteU.internado" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            <option value="">Seleccionar</option>
              <option value="En transito">true</option>
              <option value="En Aduanas">false</option>
          </select>
        </div>

        <div class="form-group">
          <label for="UCI"> UCI? </label>
          <select name="uci"  #UCI="ngModel" [(ngModel)]="pacienteU.uci" [ngModelOptions]="{standalone: true}" type= "text"class="form-control" required>
            <option value="">Seleccionar</option>
              <option value="En transito">true</option>
              <option value="En Aduanas">false</option>
          </select>
        </div>

        <div class="form-group">
          <label>Fecha Ingreso</label>
          <input name="fechaIngreso"  #FechaIngreso="ngModel" [(ngModel)]="pacienteU.fechaIngreso" [ngModelOptions]="{standalone: true}" type= "date" class="form-control" required>
        </div>
        
        <div class="form-group">
          <label>Hospital</label>
          <input name="idCentroHospitalario"  #IdCentroHospitalario="ngModel" [(ngModel)]="pacienteU.idCentroHospitalario" [ngModelOptions]="{standalone: true}" type= "date" class="form-control" required>
        </div>

        <div class = "form-group">
          <div class = "col-md-4 col-md-offset-3">
            <input class = "btn btn-primary" type = "submit" value = "Agregar" />
          </div>
        </div>
      
          

      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content1)">Ingresar</button>

  <hr>

  <pre>{{ closeResult }}</pre>

</div>



<div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>cedula</th>
        <th>FechaNacimiento</th>
        <th>Region</th>
        <th>Medicacion</th>
        <th>Patologia</th>
        <th>Nacionalidad</th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Estado</th>
        <th>Internado?</th>
        <th>UCI?</th>
      </tr>

    


<!-- -->
    <tr *ngFor="let Paciente of service.pacienteList" >
      <td>{{Paciente.idPaciente}</td>
      <td>{{Paciente.cedula}}</td>
      <td>{{Paciente.fechaNacimiento}}</td>
      <td>{{Paciente.region}}</td>
      <td>{{Paciente.medicamento}}</td>
      <td>{{Paciente.patologia}}</td>
      <td>{{Paciente.nacionalidad}}</td>
      <td>{{Paciente.nombre}}</td>
      <td>{{Paciente.primerApellido}}</td>
      <td>{{Paciente.segundoApellido}}</td>
      <td>{{Paciente.estado}}</td>
      <td>{{Paciente.internado}}</td>
      <td>{{Paciente.uci}}</td>
      <td>{{Paciente.fechaIngreso}}</td>
      <td>{{Paciente.idCentroHospitalario}}</td>

    </tr>
-->
