<app-nav-bar-centro></app-nav-bar-centro>

<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Generacion de Reportes: </h1>
</div>

<br><br>

    <td>
        <button type="button" class="btn btn-primary"  
        routerLink="/CentroHospitalario/Reportes/ReportePacienteEstado" >
        Reporte de Pacientes por Estado
        <span class="glyphicon glyphicon-trash" ></span>
        </button>
    </td>


    <td>
        <button type="button" class="btn btn-primary"  
        routerLink="/CentroHospitalario/Reportes/ReporteNuevosCasosMuertes" >
        Reporte de Muertes y Nuevos Casos
        <span class="glyphicon glyphicon-trash" ></span>
        </button>
    </td>