<app-nav-bar-publico></app-nav-bar-publico>
<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Acumulado de casos confirmados </h1>
</div>

<br><br>



<agm-map [latitude]="lat" [longitude]="lng" [disableDefaultUI]="true" (mapReady)='updateMapPosition()'>
  <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="drag" (dragEnd)='markerDragEnd($event)'></agm-marker>
</agm-map>

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-end">
      <div class="col-lg-11">
        <div class="row justify-content-end">

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box py-5">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">{{pais}}</span>
              <p>País</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box py-5">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">85</span>
              <p>Personas recuperadas</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box pb-5 pt-0 pt-lg-5">
              <i class="icofont-clock-time"></i>
              <span data-toggle="counter-up">12</span>
              <p>Personas Fallecidas</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box pb-5 pt-0 pt-lg-5">
              <i class="icofont-award"></i>
              <span data-toggle="counter-up">15</span>
              <p>Personas Activas</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box pb-5 pt-0 pt-lg-5">
              <i class="icofont-clock-time"></i>
              <span data-toggle="counter-up">12</span>
              <p>Incremento diario</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>



<br><br><br>