<app-nav-bar-publico></app-nav-bar-publico>
<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Medidas de Contencion tomadas </h1>
</div>

<br><br>

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Numero de medida</th>
      <th>Medida de contencion</th>
      <th>Fecha</th>
    </tr>

    <tr>
      <th>01</th>
      <th>Restriccion vehicular a partir de las 6:00 p.m</th>
      <th>09/06/2020</th>
    </tr>
      
    <tr>
      <th>02</th>
      <th>Cierre de fronteras</th>
      <th>09/06/2020</th>
    </tr>


<!-- -->
    <!--<tr *ngFor="let Paquete of service.paqueteList" >
      <td>{{Paquete.trackingId}}</td>
      <td>{{Paquete.idCliente}}</td>
      <td>{{Paquete.idProducto}}</td>
      <td>{{Paquete.descripcion}}</td>
      <td>{{Paquete.fechaEstimada}}</td>
      <td>{{Paquete.estado}}</td>

    </tr>
-->

<br><br><br>