<app-nav-bar-administrador></app-nav-bar-administrador>

<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Gestion Medicaciones </h1>
</div>

<br><br>

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Id Medicamento</th>
      <th>Medicamento</th>
      <th>Descripcion</th>
      <th>Casa Farmaceutica</th>
    </tr>


<!-- -->
    <!--<tr *ngFor="let Paquete of service.paqueteList" >
      <td>{{Paquete.trackingId}}</td>
      <td>{{Paquete.idCliente}}</td>
      <td>{{Paquete.idProducto}}</td>
      <td>{{Paquete.descripcion}}</td>
      <td>{{Paquete.fechaEstimada}}</td>
      <td>{{Paquete.estado}}</td>

    </tr>
-->

<br><br><br>

<div class="container">
  
  <div class="starter-template">

    <div class="row">       

      <div class="col-md-12 mt-5">
    
      <form #medicamentoForm = "ngForm" (ngSubmit)="onSubmit(medicamentoForm)">

            <div class="form-group">
              <label>Id Medicamento</label>
              <input name="idMedicamento"  #IdMedicamento="ngModel" [(ngModel)]="medicamentoo.idMedicamento" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>  

            <div class="form-group">
              <label>Nombre</label>
              <input name="nombre"  #Nombre="ngModel" [(ngModel)]="medicamentoo.nombre" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>

            <div class="form-group">
              <label>Descripcion</label>
              <input name="descripcion"  #Descripcion="ngModel" [(ngModel)]="medicamentoo.descripcion" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>

            <div class="form-group">
              <label>Casa Farmaceutica</label>
              <input name="casaFarmaceutica"  #CasaFarmaceutica="ngModel" [(ngModel)]="medicamentoo.casaFarmaceutica" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>
            

            
            <div class = "form-group">
              <div class = "col-md-4 col-md-offset-3">
                <input class = "btn btn-primary" type = "submit" value = "Agregar" />
              </div>
            </div>
          
              

          </form>

    </div>


</div>

</div>


</div>
