<app-nav-bar-administrador></app-nav-bar-administrador>

<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Gestion de medidas sanitarias </h1>
</div>

<br><br>

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripcion</th>
    </tr>


<!-- -->
    <!--<tr *ngFor="let Paquete of service.paqueteList" >
      <td>{{Paquete.trackingId}}</td>
      <td>{{Paquete.idCliente}}</td>
      <td>{{Paquete.idProducto}}</td>
      <td>{{Paquete.descripcion}}</td>
      <td>{{Paquete.fechaEstimada}}</td>
      <td>{{Paquete.estado}}</td>

    </tr>
-->

<br><br><br>

<div class="container">
  
  <div class="starter-template">

    <div class="row">       

      <div class="col-md-12 mt-5">
    
      <form #hospitalForm = "ngForm" (ngSubmit)="onSubmit(hospitalForm)">

            <div class="form-group">
              <label>Id Medida Sanitaria</label>
              <input name="idMedidaSanitaria"  #IdMedidaSanitaria="ngModel" [(ngModel)]="medidaa.idMedidaSanitaria" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>  

            <div class="form-group">
              <label>Nombre</label>
              <input name="nombre"  #Nombre="ngModel" [(ngModel)]="medidaa.nombre" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>

            <div class="form-group">
              <label>Descripcion</label>
              <input name="descripcion"  #Descripcion="ngModel" [(ngModel)]="medidaa.descripcion" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>

            
            <div class = "form-group">
              <div class = "col-md-4 col-md-offset-3">
                <input class = "btn btn-primary" type = "submit" value = "Agregar" />
              </div>
            </div>
          
              

          </form>

    </div>


</div>

</div>


</div>
