<app-nav-bar-administrador></app-nav-bar-administrador>

<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Gestion de medidas sanitarias por pais</h1>
</div>

<br><br>

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Pais</th>
      <th>Medidas sanitarias</th>
      <th>Estado</th>
      <th>FechaInicio</th>
      <th>FechaFin</th>
    </tr>


<!-- -->
    <!--<tr *ngFor="let Paquete of service.paqueteList" >
      <td>{{Paquete.trackingId}}</td>
      <td>{{Paquete.idCliente}}</td>
      <td>{{Paquete.idProducto}}</td>
      <td>{{Paquete.descripcion}}</td>
      <td>{{Paquete.fechaEstimada}}</td>
      <td>{{Paquete.estado}}</td>

    </tr>
-->

<br><br><br>

<div class="container">
  
  <div class="starter-template">

    <div class="row">       

      <div class="col-md-12 mt-5">
    
      <form #medidapForm = "ngForm" (ngSubmit)="onSubmit(medidapForm)">

            <div class="form-group">
              <label>Pais</label>
              <input name="pais"  #Pais="ngModel" [(ngModel)]="medidap.pais" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>  

            <div class="form-group">
              <label>Medidas Sanitarias</label>
              <input name="medidas"  #Medidas="ngModel" [(ngModel)]="medidap.medidas" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="estado"> Estado</label>
              <select name="estado"  #Estado="ngModel" [(ngModel)]="medidap.estado" [ngModelOptions]="{standalone: true}" class="form-control" required>
                <option value="">Seleccionar</option>
                  <option value="En transito">Activa</option>
                  <option value="En Aduanas">Inactiva</option>
              </select>
          </div>

            <div class="form-group">
              <label>Fecha Inicio</label>
              <input name="fechaInicio"  #FechaInicio="ngModel" [(ngModel)]="medidap.fechaInicio" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>
            
            <div class="form-group">
              <label>Fecha Final</label>
              <input name="fechaFinal"  #FechaFinal="ngModel" [(ngModel)]="medidap.fechaFinal" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>


            <div class = "form-group">
              <div class = "col-md-4 col-md-offset-3">
                <input class = "btn btn-primary" type = "submit" value = "Agregar" />
              </div>
            </div>
          
              

          </form>

    </div>


</div>

</div>


</div>
