<p>gestion-medidas-sanitarias-pais works!</p>

<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Gestion de medidas sanitarias por pais</h1>
</div>

<br><br>

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Pais</th>
      <th>Medidas sanitarias</th>
      <th>Estado</th>
      <th>FechaInicio</th>
      <th>FechaFin</th>
    </tr>


<!-- -->
    <!--<tr *ngFor="let Paquete of service.paqueteList" >
      <td>{{Paquete.trackingId}}</td>
      <td>{{Paquete.idCliente}}</td>
      <td>{{Paquete.idProducto}}</td>
      <td>{{Paquete.descripcion}}</td>
      <td>{{Paquete.fechaEstimada}}</td>
      <td>{{Paquete.estado}}</td>

    </tr>
-->

<br><br><br>
